@import 'https://fonts.googleapis.com/css?family=Telex';
header {
    width: 100%;
    background: rgba(#fff, .95);
    .menu {
        font-size: 13px;
        letter-spacing: .11em;
        text-transform: uppercase;
        a {
            color: #000;
            &.active, &:hover {
                color: #3adb76;
            }
        }
    }
}

.sections {
    section {
        padding: 40px 0 60px;
        p + p {
            text-indent: 1.3em;
        }
        &#heading {
            padding-top: 90px;
            p {
                @extend .bigger;
                margin-top: -12px;
                color: #777;
            }
        }
        &#download {
            background: #111;
            p {
                img {
                    position: absolute;
                    margin: 9px -104px;
                }
                @extend .bigger;
                color: #fff;
                margin-bottom: 30px;
            }
        }
        &#start {
            background: #eee;
        }
        &#idea {
            background: #eee;
            .fundaSplash {
                .smaller {
                    margin-top: 5px;
                }
            }
        }
    }
}

footer {
    padding: 18px 0 20px;
    background: #111;
    color: #fff;
    font-size: 13px;
    letter-spacing: .11em;
    text-transform: uppercase;
}

// Type
.bigger {
    font-size: 130%;
    // line-height: 1.25;
}

.smaller {
    font-size: 75%;
    // line-height: 1.25;
}

code {
    white-space: pre-line;
}

.accordion {
    h5 {
        margin: 0;
    }
}
